#
# Copyright 2015 VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#
# Temporary files from editing and compiling
*~
.*.swp
*.pyc
*.pyo
*.bak
.secret_key_store
.DS_Store
# Python virtualenv
env
# Local needs
/inventory
